/*fjerner whitespace i siderne*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling af header */

header {
  background-color: #ffffff55;
  position: sticky;
  top: 0;
  padding: 0rem 1.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0.1vw;
  padding: 1.5vw;
  overflow-x: auto;
  gap: 8.5vw;
}

.logo a {
  font-size: 2.5rem;
}

a {
  font-family: "Work sans", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 350;
  color: black;
}

/* billede på body */

body {
  background-image: url("baggrundopacity.png");
  background-size: cover;
}
/* styling af fonte */

h1 {
  display: flex;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  h1 {
    justify-content: right;
  }
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Work Sans", sans-serif;
}

/* styling af knapper i mobilversion  */

@media (max-width: 799px) {
  button {
    font-size: 0.7em;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border: none;
    background-color: white;
  }

  button:hover {
    background-color: #a6c9e5;
  }

  button.tilbage {
    font-size: 0.7em;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-left: 23px;
    background-color: white;
    border: none;
    text-transform: uppercase;
  }

  button.tilbage:hover {
    background-color: #a6c9e5;
  }
}

/* styling af knapper i desktopversion  */

@media (min-width: 800px) {
  button {
    font-size: 0.7em;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-left: 23px;
    background-color: white;
    border: none;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: #a6c9e5;
  }
}

/* styling af mobilversion  */
.enkelt {
  padding-left: 23px;
}

@media (max-width: 499px) {
  h1 {
    margin-top: 10px;
  }

  .beskrivelse {
    max-width: 40ch;
  }

  .visbillede img {
    width: 90%;
  }
}

/* styling af desktopversion */

@media (min-width: 850px) {
  main {
    max-width: 1200px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .enkelt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  .visbillede {
    display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 70px;
    width: 70%;
    height: 80%;
  }

  .info {
    padding: 20px;
    text-align: right;
    margin-top: 30px;
  }

  .beskrivelse {
    max-width: 40ch;
    margin-left: 120px;
  }
}

/* styling af footer */

p1 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

footer p {
  margin: auto;
  font-size: 0.8rem;
}
footer {
  padding: 1.5%;
  background-color: #f4efec;
}
