/*fjerner whitespace i siderne*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  padding-bottom: 20px;
}

header {
  background-color: #ffffff55;
  position: sticky;
  top: 0;
  padding: 0rem 1.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0.1vw;
  padding: 1.5vw;
  overflow-x: auto;
  gap: 8.5vw;
}

.logo a {
  font-size: 2.5rem;
}

a {
  font-family: "Work sans", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 350;
  color: black;
}

/* styling af fonte */

h1 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-size: 2.2rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

/* styling af navigationsknapper  */

nav {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

nav button {
  font-size: 0.7em;
  padding: 10px 10px 10px 10px;
  background-color: white;
  border: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

nav button#farve1:hover {
  background-color: #f4efec;
}

nav button#farve2:hover {
  background-color: #ce748d;
}

nav button#farve3:hover {
  background-color: #d9adc8;
}

nav button#farve4:hover {
  background-color: #a6c9e5;
}

nav button#farve5:hover {
  background-color: #ebc0ca;
}

/* styling af tilbage knap  */

button {
  font-size: 0.7em;
  padding: 10px 10px 10px 10px;
  background-color: #f4efec;
  border: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

button :hover {
  background-color: #ddcfb9;
}

/* styling så siden er responsiv  */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  margin-top: 10px;
  padding-left: 20px;
}

article {
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  margin: 10px;
  padding-right: 20px;
}

@media (max-width: 500px) {
  main {
    padding-left: 15px;
  }
}

/* respnsivt baggrundsbillede til forsiden */

#first_section {
  grid-column: 1/4;
  display: grid;
  height: 100vh;
  background-size: cover;
  background-position: 25% 10%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin-top: -95px;
  background-image: url(webforside.png);
}

/* mobile baggrundsbillede */
@media (max-width: 800px) {
  #first_section {
    background-image: url(billede3.jpg);
    background-size: cover;
  }
}

/* desktop baggrundsbillede */
@media (min-width: 801px) {
  #first_section {
    width: 100%;
    height: 110vh;
    background-image: url(webforside.png);
  }
}

/* respnsivt baggrundsbillede til shop siden */

body {
  background-image: url(baggrundopacity.png);
  background-size: contain;
}

/* styling af billeder med hover  */
.img-hover {
  height: 500px;
  width: 400px;
  transition: 0.5s;
  overflow: hidden;
}

.img-hover:hover {
  transform: scale(1.1);
}

/* styling af footer */

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

footer p {
  margin: auto;
  font-size: 0.8rem;
}
footer {
  padding: 1.5%;
  background-color: #f4efec;
}
