/* styling af fonte */

h1 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Work Sans", sans-serif;
}

/* styling af navigationsknapper  */

nav {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

nav button {
  font-size: 0.7em;
  padding: 10px 10px 10px 10px;
  background-color: #f4efec;
  border: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

nav button#beige:hover {
  background-color: #ddcfb9;
}

nav button#blå:hover {
  background-color: #0075fa;
}

nav button#grøn:hover {
  background-color: #2fc197;
}

nav button#lyserød:hover {
  background-color: #f59acd;
}

nav button#orange:hover {
  background-color: #ffb100;
}

/* styling så siden er responsiv  */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

article {
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  margin: 10px;
  padding-right: 20px;
}

body {
  padding: 10px;
}
